@page "/createaccount"
@using System.Security;
@using _29MoneyCalculator.Clases;
@using _29MoneyCalculator.Controladores;
<style>
    h1
    {
        text-align: center;
        font-size: 30px;
    }

    .btn-crear
    {
        background-color: #00913f;
    }
    .cont-btn
    {
        text-align:center;
        margin-top:30px;
    }
    .inputs
    {
        border: solid 3px #dec783;
        border-radius:20px;
        
    }
</style>
<h1>Create your new account</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input placeholder="Email"
               type="email"
               @bind="@user_email"
               class="form-control inputs"
               id="exampleInputEmail1"
               aria-describedby="emailHelp" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
            <input type="password" 
                @* @bind="@user_password" *@
                id="password" 
                class="form-control inputs" 
                placeholder="Password">
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="input-group mb-3" style="margin-top:20px;">
        <div class="input-group-prepend">
            <span class="input-group-text" style="height:50px;">29</span>
        </div>
        <input type="text" class="form-control inputs" placeholder="User name" @bind="@user_name">
    </div>
    <div class="input-group mb-3" style="margin-top:20px;">
        <input type="text" class="form-control inputs" placeholder="User last name (Optional)" @bind="@user_last_name">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" @onclick="() => GenderSelected('M')" />
        <label class="form-check-label">
            Men
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Women" @onclick="() => GenderSelected('W')" />
        <label class="form-check-label">
            Women
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Other" @onclick="() => GenderSelected('O')" />
        <label class="form-check-label">
            Other
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" @onclick="() => GenderSelected('N')" />
        <label class="form-check-label">
            Prefer not to say
        </label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date of birth</label>
        <input placeholder="Fecha de nacimiento"
               type="date"
               class="form-control inputs"
               id="fechaNacimiento"
               @bind="@user_birth"/>
    </div>
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02">Upload a profile image</label>
        </div>
    </div>
    <div class="cont-btn">
    <button type="button" class="btn btn-primary btn-crear" @onclick="AddUser">Create account</button>
    </div>
</form>

@code {
    string user_email;
    SecureString user_password;
    string user_name;
    string user_last_name;
    char selected_gender;
    DateTime user_birth;
    public CreateAccount()
    {
        userController = new UserController();
    }
    private UserController userController;

    private void GenderSelected(char gender)
    {
        selected_gender = gender;
    }
    private void AddUser()
    {
        try{
            string userPass = new System.Net.NetworkCredential(string.Empty, user_password).Password;
            User user = new User()
        {
            User_Email = user_email,
            User_Password = userPass,
            User_Name = user_name,
            User_last_name = user_last_name,
            User_Gender = selected_gender,
            User_Birth = user_birth

        };
            userController.CreateUser(user);
        }
        catch (InvalidOperationException e)
        {
            Console.WriteLine(e.ToString());
        }
    }

}
