 @page "/startpage"
@using _29MoneyCalculator.Class;
@using _29MoneyCalculator.Models;
<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
    }

    header {
        width: 100%;
    }

    .icon-image:hover {
        transform: rotate(-0.15turn);
        transition: all 0.5s ease;
    }

    .icon-image {
        transition: all 1s ease;
    }

    h1, h3 {
        color: #fff;
    }

    .main-cont {
        border-radius: 20px;
        margin-top: 0.5%;
        background-color: #1a2b3c
    }

    .btn-add-account {
        border-radius: 20px;
    }
    .card-container {
        display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
        flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben en el ancho del contenedor */
        justify-content: center; /* Distribuye las tarjetas horizontalmente con espaciado entre ellas */
        column-gap:20px;
        margin-top:5px;
    }   

</style>
<body>
    <header>
        <nav class="navbar navbar-light bg-dark navbar-expand-lg" style="width:100%">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/QR8gHI4.png" width="60" height="60" class="d-inline-block align-top icon-image" alt="Calculator-icon">
            </a>
            <h1>29-MoneyCalculator</h1>
        </nav>
    </header>
    <main>
        <div class="container d-flex align-items-center flex-column main-cont">
            <img class="masthead-avatar mb-5" src="https://i.imgur.com/1DufMCX.png" alt="Main Image" />
            <h3 class="masthead-heading  mb-0">Hi @userName we are glad that you are using our app</h3>
            <p class="masthead-subheading font-weight-dark mb-0" style="color:#ffff">
                With this application you can manage your money, create accounts,
                generate reports and keep everything up to date. 😉
            </p>
        </div>


        <div class="card-container">
            @foreach (var account in userAccounts)
            {
                <CardAccount TitleCard="@account.TitleAccount"
                             DescriptionCard="@account.DescriptionAccount"
                             Earnings="@account.Earnings"
                             Taxes="@account.Taxes"
                             Bills="@account.Bills"
                             Leisure="@account.Leisure" />
            }
        </div>
        <button type="button" class="btn btn-dark btn-add-account">Add a new account</button>

    </main>


    <div class="card text-center" style="background-color:#0a0b0c; color:#fff;" >
        <div class="card-body">
            <h5 class="card-title">This application was made by Jeancarlos Barberena.</h5>
            <a href="https://github.com/29Jeanca"> <img src="https://i.imgur.com/wyhYV75.png" alt="Github account" /></a>
        </div>
        <div class="card-footer text-muted">
            @userName
        </div>
    </div>
</body>
@code {
    string userName = Session.User_Name;
    int userId = Session.User_ID;
    string mensaje;
    private AccountModel accountModel;
    List<Account> userAccounts = new List<Account>();
    public StartPage()
    {
        accountModel = new AccountModel();
    }
    protected override void OnInitialized()
    {
        userAccounts = accountModel.GetAccounts(userId);
    }

}
 